# Data Analytics Project

# Our Qestion: 
[duration-rating, ratings-directors, 


## Initialization/Imports

In [36]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np

## Titles DF Import

In [21]:
df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")
df_titles.info()

/var/folders/bk/frkpdn794lg4tpwpn9vrl7w00000gn/T/ipykernel_10685/167427577.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11217433 entries, 0 to 11217432
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 770.2+ MB

### Titles cleaning
#### NA values

In [11]:
df_titles = df_titles.dropna()
df_titles.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

#### Only movies

In [32]:
df_titles = df_titles[df_titles['titleType'] == 'movie']
df_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696417 entries, 8 to 11217383
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696417 non-null  object
 1   titleType       696417 non-null  object
 2   primaryTitle    696415 non-null  object
 3   originalTitle   696415 non-null  object
 4   isAdult         696417 non-null  object
 5   startYear       696417 non-null  object
 6   endYear         696417 non-null  object
 7   runtimeMinutes  438425 non-null  object
 8   genres          696417 non-null  object
dtypes: object(9)
memory usage: 53.1+ MB

#### Fix runtime \N's

In [54]:
#df_titles['runtimeMinutes'] = df_titles['runtimeMinutes'].replace('\\N', np.nan())
#df_titles['runtimeMinutes'] = df_titles['runtimeMinutes'].astype("int64")
#df_titles = df_titles['runtimeMinutes'].fillna(df_titles['runtimeMinutes'].mean())
#df_titles['runtimeMinutes'].isna().sum()

TypeError: 'float' object is not callable

## Crew DF Import

In [15]:
df_crew = pd.read_csv("Data/title.crew.tsv", delimiter="\t")
df_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10554913 entries, 0 to 10554912
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.6+ MB

## Ratings DF Import

In [17]:
df_ratings = pd.read_csv("Data/title.ratings.tsv", delimiter="\t")
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495761 entries, 0 to 1495760
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1495761 non-null  object
 1   averageRating  1495761 non-null  float64
 2   numVotes       1495761 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ MB

## People DF Import

In [58]:
df_people = pd.read_csv("Data/name.basics.tsv", delimiter="\t")
df_people = df_people.drop(['birthYear', 'deathYear'], axis=1)
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13929073 entries, 0 to 13929072
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  object
 3   knownForTitles     object
dtypes: object(4)
memory usage: 425.1+ MB