# Data Analytics Project

# Our Qestion: 
[duration-rating, ratings-directors, 


## Initialization/Imports

In [3]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

## Titles DF Import

In [21]:
df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")
df_titles.info()

/var/folders/bk/frkpdn794lg4tpwpn9vrl7w00000gn/T/ipykernel_10685/167427577.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11217433 entries, 0 to 11217432
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 770.2+ MB

### Titles cleaning
#### NA values

In [11]:
df_titles = df_titles.dropna()
df_titles.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

#### Only movies

In [12]:
df_titles = df_titles[df_titles['titleType'] == 'movie']
df_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696415 entries, 8 to 11217383
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696415 non-null  object
 1   titleType       696415 non-null  object
 2   primaryTitle    696415 non-null  object
 3   originalTitle   696415 non-null  object
 4   isAdult         696415 non-null  object
 5   startYear       696415 non-null  object
 6   endYear         696415 non-null  object
 7   runtimeMinutes  696415 non-null  object
 8   genres          696415 non-null  object
dtypes: object(9)
memory usage: 53.1+ MB

#### Fix runtime \N's

In [26]:
df_titles['runtimeMinutes'] = df_titles['runtimeMinutes'].replace('\\N', None)
df_titles['runtimeMinutes'].unique()

array(['1', '5', '12', '45', '2', None, '3', '100', '13', '6', '4', '40',
       '11', '9', '10', '15', '21', '16', '8', '14', '7', '24', '17',
       '70', '90', '20', '25', '120', '36', '18', '30', '19', '44', '38',
       '58', '22', '33', '50', '34', '28', '35', '42', '23', '51', '52',
       '60', '92', '56', '26', '53', '31', '41', '48', '47', '68', '29',
       '71', '43', '46', '27', '32', '76', '113', '55', '150', '300',
       '121', '89', '37', '69', '54', '64', '96', '49', '61', '39', '101',
       '57', '99', '110', '85', '88', '86', '170', '63', '72', '78', '75',
       '450', '148', '80', '124', '220', '59', '112', '1428', '84', '65',
       '74', '105', '310', '73', '82', '81', '199', '139', '109', '67',
       '219', '195', '440', '77', '293', '97', '79', '62', '66', '250',
       '421', '360', '180', '93', '163', '400', '95', '165', '83', '116',
       '320', '125', '127', '138', '460', '350', '374', '480', '330',
       '87', '130', '108', '600', '240', '117', '410', '135', '146',
       '104', '418', '106', '242', '223', '489', '102', '200', '98',
       '119', '122', '115', '207', '166', '238', '111', '145', '131',
       '243', '133', '172', '167', '103', '94', '355', '206', '91', '157',
       '107', '248', '235', '184', '118', '114', '380', '128', '143',
       '155', '137', '183', '210', '136', '417', '141', '162', '153',
       '129', '123', '151', '182', '140', '359', '126', '132', '179',
       '260', '230', '168', '160', '144', '159', '185', '156', '215',
       '177', '213', '149', '225', '147', '266', '152', '217', '158',
       '226', '134', '194', '216', '227', '231', '218', '246', '281',
       '208', '228', '229', '212', '236', '306', '257', '245', '197',
       '255', '142', '323', '305', '328', '176', '232', '258', '256',
       '303', '308', '224', '294', '268', '204', '298', '299', '264',
       '211', '302', '263', '265', '205', '154', '237', '285', '269',
       '267', '247', '186', '241', '289', '283', '290', '270', '251',
       '278', '196', '279', '261', '275', '280', '244', '189', '169',
       '284', '295', '201', '221', '192', '252', '171', '193', '287',
       '361', '175', '174', '173', '315', '190', '164', '239', '178',
       '161', '181', '188', '497', '327', '317', '191', '209', '434',
       '234', '288', '438', '393', '378', '316', '340', '203', '253',
       '344', '540', '476', '451', '321', '348', '890', '309', '653',
       '431', '390', '202', '187', '370', '396', '282', '286', '763',
       '770', '311', '500', '373', '596', '750', '273', '442', '599',
       '333', '614', '385', '780', '510', '271', '274', '262', '420',
       '291', '366', '742', '676', '673', '358', '301', '233', '198',
       '752', '504', '720', '520', '313', '413', '700', '222', '391',
       '428', '437', '416', '367', '566', '569', '371', '376', '870',
       '312', '407', '331', '375', '436', '353', '357', '873', '1290',
       '345', '318', '335', '624', '272', '567', '606', '214', '384',
       '501', '834', '522', '276', '439', '314', '515', '620', '528',
       '341', '568', '571', '556', '386', '383', '650', '343', '277',
       '698', '401', '377', '672', '465', '622', '296', '1352', '1320',
       '395', '583', '665', '339', '415', '351', '1620', '388', '325',
       '336', '254', '455', '554', '612', '616', '349', '659', '458',
       '426', '660', '1500', '475', '778', '1080', '485', '495', '382',
       '1800', '577', '1440', '307', '2800', '491', '338', '840', '406',
       '776', '369', '297', '804', '445', '347', '960', '615', '392',
       '663', '693', '580', '425', '544', '5220', '259', '464', '545',
       '640', '304', '446', '372', '629', '678', '1300', '352', '689',
       '793', '2925', '608', '2880', '1170', '0', '462', '701', '657',
       '249', '346', '468', '1970', '551', '1260', '1020', '1200', '646',
       '459', '579', '820', '704', '630', '408', '999', '402', '715',
       '514', '1664', '1215', '625', '1710', '1035', '550', '1370',
       '1350', '1410', '1380', '326', '1100', '730', '364', '516', '705',
       '1196', '443', '765', '2001', '1000', '2002', '502', '8400', '541',
       '2000', '1999', '594', '414', '652', '1997', '1040', '1442', '598',
       '354', '526', '334', '487', '1773', '1932', '466', '4800', '363',
       '3900', '2150', '900', '552', '381', '527', '636', '575', '322',
       '519', '379', '530', '412', '506', '547', '800', '441', '469',
       '719', '429', '1441', '490', 'Reality-TV', '784', '387', '319',
       '474', '422', '990', '368', '3285', '669', '3300', '1400', '10062',
       '2018', '332', '585', '2160', 'Talk-Show', '623', '525', '337',
       '634', '2004', '570', 'Documentary', '13319', '292', '1325', '404',
       '2020', '324', '409', '478', '472', '329', '35791', 'Game-Show',
       '1444', '479', '471', '28643', '1845', '675', '1682', '1445',
       '362', '1174', '1050', '943', '933', '435', '498', '521', '2010',
       '1099', '483', '668', '785', '499', '6000', '449', '496', '518',
       '539', '702', '399', '670', '712', '619',
       'Animation,Comedy,Family', '959', '512', '950', '456', '448',
       '559', '736', '470', '444', '405', '830', '883', '454', '432',
       '457', '467', '447', '453', '942', '452', '3087', '593', '365',
       '503', '602', '481', '586', '397', '1452', '1554', '542', '850',
       '562', '2580', '507', '961', '641', '964', '342', '2520', '885',
       '1268', '1134', '691', '403', '1873', '1860', '572', '783', '509',
       '2021', '553', '494', '711', '484', '901', '930', '546', '482',
       '7200', '427', '3720', '1973', '493', '398', '3000', '1560',
       '1680', '394', '814', '508', '356', '605', '680', '1568', '751',
       '5700', '590', '845', '717', '998', '853', '513', '2400', '1669',
       '558', '1210', '771', '655', '865', '588', '488', '695', '970',
       '12000', '463', '565', '642', '2252', '1700', '2460', '899', '842',
       '9000', '613', '411', '696', '758', '803', '1234', '610', '582',
       '645', '461', '707', '473', '810', '1005', '578', '14400',
       'News,Talk-Show', '1087', '1140', '912', 'Comedy,News,Talk-Show',
       '1415', '1026', '709', '532', '1504', '536', '741',
       'Documentary,Reality-TV', '424', '703', '1034', '486', '685',
       '560', 'Adult', '505', '17280', '59460', '852', '632', '535',
       '1584', '11541', '764', '1044', 'Comedy,Drama,Fantasy', '723',
       '654', '1262', '537', '1011', '948', '1084', '1002', '1421',
       'Fantasy,Horror,Mystery', '1349', '799', '1464', '910', '819',
       '37440', '904', 'Action,Fantasy,Horror', 'Action,Horror,Mystery',
       '1784', '2005', '2007', '2030', 'Comedy,Drama,Horror', '913',
       '2027', 'Action,Adventure,Drama', '871', '1576', '1229', '661',
       '1060', '920', 'Music', '587', '744', '524', '869', '884', '777',
       '679', '792', '557', '940', '1056', '2695', '2867', '1511', '1663',
       '1175', '972', '833', '389', '847', '893', '965', '856', '430',
       '1384', '1209', '2840', '1143', '874', '529', '1470', '1411',
       '1716', '2288', '3077', '419', '543', '43200', '936', '747',
       'Game-Show,Reality-TV', '1008', '1285', '2565', '1495', '1151',
       '740', '549', '1644', '627', '1207', '714', '3240', '2905', '5460',
       '1068', '607', '433', '684', '662', '597', '1559', '958', '914',
       '1616', '2070', '923', '789', '4162', '477', '3825', '697', '1228',
       '2015', '773', '1439', '1329', '1416', '548', '954', '5760', '746',
       '1184', '1179', '423', '51420', '531', '601', '1750', '808',
       '1755', '1980', '2112', '716', '690', '755', '721', '795', '3600',
       '2088'], dtype=object)

## Crew DF Import

In [15]:
df_crew = pd.read_csv("Data/title.crew.tsv", delimiter="\t")
df_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10554913 entries, 0 to 10554912
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.6+ MB

## Ratings DF Import

In [17]:
df_ratings = pd.read_csv("Data/title.ratings.tsv", delimiter="\t")
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495761 entries, 0 to 1495760
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1495761 non-null  object
 1   averageRating  1495761 non-null  float64
 2   numVotes       1495761 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ MB

## People DF Import

In [19]:
df_people = pd.read_csv("Data/name.basics.tsv", delimiter="\t")
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13929073 entries, 0 to 13929072
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 637.6+ MB