In [13]:
import pandas as pd
df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")
df_titles.head()

/var/folders/bk/frkpdn794lg4tpwpn9vrl7w00000gn/T/ipykernel_9233/3589362417.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("Data/title.basics.tsv", delimiter="\t")

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [21]:
df_titles = df.dropna()
df_titles.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [23]:
df_titles = df_titles[df_titles['titleType'] == 'movie']
df_titles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 696415 entries, 8 to 11217383
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696415 non-null  object
 1   titleType       696415 non-null  object
 2   primaryTitle    696415 non-null  object
 3   originalTitle   696415 non-null  object
 4   isAdult         696415 non-null  object
 5   startYear       696415 non-null  object
 6   endYear         696415 non-null  object
 7   runtimeMinutes  696415 non-null  object
 8   genres          696415 non-null  object
dtypes: object(9)
memory usage: 53.1+ MB

In [25]:
df_crew = pd.read_csv("Data/title.crew.tsv", delimiter="\t")
df_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10554913 entries, 0 to 10554912
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.6+ MB