In [279]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Title DF Import

In [281]:
df_titles = pd.read_csv('../title.basics.tsv', sep='\t')

df_titles.isna().sum()

C:\Users\kerrj\AppData\Local\Temp\ipykernel_38396\449990169.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv('../title.basics.tsv', sep='\t')

tconst              0
titleType           0
primaryTitle       19
originalTitle      19
isAdult             0
startYear           0
endYear             0
runtimeMinutes      0
genres            632
dtype: int64

### Clean Title Basic

In [283]:
df_titles.dropna(inplace=True)
df_titles.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [284]:
df_titles.info()
df_titles.shape

<class 'pandas.core.frame.DataFrame'>
Index: 11218889 entries, 0 to 11219539
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 855.9+ MB

(11218889, 9)

In [285]:
# drop the end year column
df_titles.drop('endYear', axis=1, inplace=True)

In [286]:
# check for duplicates
df_titles.duplicated().sum()

0

In [287]:
movies = df_titles[df_titles['titleType'] == 'movie']
movies.info()
movies.shape

<class 'pandas.core.frame.DataFrame'>
Index: 696600 entries, 8 to 11219490
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696600 non-null  object
 1   titleType       696600 non-null  object
 2   primaryTitle    696600 non-null  object
 3   originalTitle   696600 non-null  object
 4   isAdult         696600 non-null  object
 5   startYear       696600 non-null  object
 6   runtimeMinutes  696600 non-null  object
 7   genres          696600 non-null  object
dtypes: object(8)
memory usage: 47.8+ MB

(696600, 8)

In [288]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama

In [289]:
# drop the \N in the runtime column, then type cast to int so we can find the mean
movies_dropped = movies[movies['runtimeMinutes'] != '\\N']
movies_dropped = movies_dropped.astype({'runtimeMinutes': 'int64'})
movie_time_mean = movies_dropped['runtimeMinutes'].mean()

Replace the null values in movies

In [291]:
# put the mean movies back into dropped rows
def movie_times(time):
    if time == '\\N':
        return round(movie_time_mean)
    else:
        return int(time)


movies['runtimeMinutes'].apply(movie_times)

8            45
144         100
498         100
570          70
587          90
           ...
11219431     57
11219458    100
11219470     90
11219480    116
11219490     49
Name: runtimeMinutes, Length: 696600, dtype: int64

# Crew DF Import

In [293]:
df_crew = pd.read_csv('../title.crew.tsv', sep='\t')

In [294]:
df_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10553136 entries, 0 to 10553135
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.5+ MB

Check data for issues

In [296]:
df_crew.isna().sum()

tconst       0
directors    0
writers      0
dtype: int64

In [297]:
df_crew.duplicated().sum()

0

In [298]:
df_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

### Clean data

In [300]:
# drop writers
df_crew.drop('writers', axis=1, inplace=True)

#### Loop to check data for \N value

In [302]:
# check for \N values
def NA_values(drop):
    count = 0

    for row in drop:
        if row == '\\N':
            count +=1
    return count

NA_values(df_crew['directors'])

4027431

In [303]:
# drop blank directors
dropped_directors = df_crew[df_crew['directors'] != '\\N']

NA_values(dropped_directors['directors'])

0

# Ratings DF import

In [305]:
df_ratings = pd.read_csv('../title.ratings.tsv', sep='\t')

Check data fro issues

In [307]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495988 entries, 0 to 1495987
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1495988 non-null  object
 1   averageRating  1495988 non-null  float64
 2   numVotes       1495988 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ MB

In [308]:
df_ratings.duplicated().sum()

0

In [309]:
df_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [310]:
# check for \N values
print(NA_values(df_ratings['averageRating']))
print(NA_values(df_ratings['numVotes']))

0
0

# People DF Import

In [312]:
df_people = pd.read_csv("../name.basics.tsv", sep="\t")
df_people.drop(['birthYear', 'deathYear'], axis=1, inplace=True)
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13929073 entries, 0 to 13929072
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  object
 3   knownForTitles     object
dtypes: object(4)
memory usage: 425.1+ MB

In [313]:
df_people.shape

(13929073, 4)

In [314]:
df_people.duplicated().sum()

0

In [315]:
print(NA_values(df_people['primaryName']))
print(NA_values(df_people['primaryProfession']))
print(NA_values(df_people['knownForTitles']))

51
2699781
1571008

### Clean the data