In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Name CSV

# Title Basic CSV

In [5]:
df_title_basic = pd.read_csv('title.basics.tsv', sep='\t')

df_title_basic.isna().sum()

C:\Users\kerrj\AppData\Local\Temp\ipykernel_24308\1399526476.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basic = pd.read_csv('title.basics.tsv', sep='\t')

tconst              0
titleType           0
primaryTitle       19
originalTitle      19
isAdult             0
startYear           0
endYear             0
runtimeMinutes      0
genres            632
dtype: int64

# Clean Title Basic

In [6]:
df_title_basic.dropna(inplace=True)
df_title_basic.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [7]:
df_title_basic.info()
df_title_basic.shape

<class 'pandas.core.frame.DataFrame'>
Index: 11218889 entries, 0 to 11219539
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 855.9+ MB

(11218889, 9)

In [73]:
movies = df_title_basic[df_title_basic['titleType'] == 'movie']
movies.info()
movies.shape

<class 'pandas.core.frame.DataFrame'>
Index: 696600 entries, 8 to 11219490
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696600 non-null  object
 1   titleType       696600 non-null  object
 2   primaryTitle    696600 non-null  object
 3   originalTitle   696600 non-null  object
 4   isAdult         696600 non-null  object
 5   startYear       696600 non-null  object
 6   endYear         696600 non-null  object
 7   runtimeMinutes  696600 non-null  object
 8   genres          696600 non-null  object
dtypes: object(9)
memory usage: 53.1+ MB

(696600, 9)

In [74]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama

In [77]:
# drop the \N in the runtime column, then type cast to int so we can find the mean
movies_droped = movies[movies['runtimeMinutes'] != '\\N']
movies_droped = movies_droped.astype({'runtimeMinutes': 'int64'})
movie_time_mean = movies_droped['runtimeMinutes'].mean()

In [79]:
# replace the null values in the basic 
movie_time_mean

89.7345589056966

# Title Crew CSV

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

# Title Ratings CSV

      tconst  averageRating  numVotes
0  tt0000001            5.7      2097
1  tt0000002            5.6       282
2  tt0000003            6.5      2116
3  tt0000004            5.4       182
4  tt0000005            6.2      2846