In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Title DF Import

In [3]:
df_titles = pd.read_csv('../title.basics.tsv', sep='\t')

df_titles.isna().sum()

C:\Users\kerrj\AppData\Local\Temp\ipykernel_71748\449990169.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv('../title.basics.tsv', sep='\t')

tconst              0
titleType           0
primaryTitle       19
originalTitle      19
isAdult             0
startYear           0
endYear             0
runtimeMinutes      0
genres            632
dtype: int64

### Clean Title Basic

In [5]:
df_titles.dropna(inplace=True)
df_titles.isna().sum()

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [6]:
df_titles.info()
df_titles.shape

<class 'pandas.core.frame.DataFrame'>
Index: 11218889 entries, 0 to 11219539
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 855.9+ MB

(11218889, 9)

In [7]:
# drop the end year column
df_titles.drop('endYear', axis=1, inplace=True)

In [8]:
# check for duplicates
df_titles.duplicated().sum()

0

In [9]:
movies = df_titles[df_titles['titleType'] == 'movie']
movies.info()
movies.shape

<class 'pandas.core.frame.DataFrame'>
Index: 696600 entries, 8 to 11219490
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          696600 non-null  object
 1   titleType       696600 non-null  object
 2   primaryTitle    696600 non-null  object
 3   originalTitle   696600 non-null  object
 4   isAdult         696600 non-null  object
 5   startYear       696600 non-null  object
 6   runtimeMinutes  696600 non-null  object
 7   genres          696600 non-null  object
dtypes: object(8)
memory usage: 47.8+ MB

(696600, 8)

In [10]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama

In [11]:
# drop the \N in the runtime column, then type cast to int so we can find the mean
movies_dropped = movies[movies['runtimeMinutes'] != '\\N']
movies_dropped = movies_dropped.astype({'runtimeMinutes': 'int64'})
# movie_time_mean = movies_dropped['runtimeMinutes'].mean()

Replace the null values in movies

In [78]:
# put the mean movies back into dropped rows
# def movie_times(time):
#     if time == '\\N':
#         return round(movie_time_mean)
#     else:
#         return int(time)


# movies['runtimeMinutes'] = movies['runtimeMinutes'].apply(movie_times)

C:\Users\kerrj\AppData\Local\Temp\ipykernel_71748\900938282.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['runtimeMinutes'] = movies['runtimeMinutes'].apply(movie_times)

In [70]:
movies.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,\N,\N
836,tt0000846,movie,Un día en Xochimilco,Un día en Xochimilco,0,1909,\N,\N
840,tt0000850,movie,Los dos hermanos,Los dos hermanos,0,1909,\N,\N
849,tt0000859,movie,Fabricación del corcho en Sant Feliu de Guixols,Fabricación del corcho en Sant Feliu de Guixols,0,1909,\N,\N
852,tt0000862,movie,Faldgruben,Faldgruben,0,1909,\N,\N
857,tt0000867,movie,Fiesta de toros,Fiesta de toros,0,1909,\N,\N
858,tt0000868,movie,Fiestas de Santa Lucía - Belenes,Fiestas de Santa Lucía - Belenes,0,1909,\N,\N
859,tt0000869,movie,Fiestas en La Garriga,Fiestas en La Garriga,0,1909,\N,\N
869,tt0000879,movie,Gira política de Madero y Pino Suárez,Gira política de Madero y Pino Suárez,0,1909,\N,\N
876,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,Drama

# Crew DF Import

In [15]:
df_crew = pd.read_csv('../title.crew.tsv', sep='\t')

In [16]:
df_crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10553136 entries, 0 to 10553135
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 241.5+ MB

Check data for issues

In [18]:
df_crew.isna().sum()

tconst       0
directors    0
writers      0
dtype: int64

In [19]:
df_crew.duplicated().sum()

0

In [20]:
df_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

### Clean data

In [22]:
# drop writers
df_crew.drop('writers', axis=1, inplace=True)

#### Loop to check data for \N value

In [24]:
# check for \N values
def NA_values(drop):
    count = 0

    for row in drop:
        if row == '\\N':
            count +=1
    return count

NA_values(df_crew['directors'])

4027431

In [25]:
# drop blank directors
dropped_directors = df_crew[df_crew['directors'] != '\\N']

NA_values(dropped_directors['directors'])

0

# Ratings DF import

In [27]:
df_ratings = pd.read_csv('../title.ratings.tsv', sep='\t')

Check data fro issues

In [29]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1495988 entries, 0 to 1495987
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1495988 non-null  object
 1   averageRating  1495988 non-null  float64
 2   numVotes       1495988 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.2+ MB

In [30]:
df_ratings.duplicated().sum()

0

In [31]:
df_ratings.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [32]:
# check for \N values
print(NA_values(df_ratings['averageRating']))
print(NA_values(df_ratings['numVotes']))

0
0

# People DF Import

In [114]:
df_people = pd.read_csv("../name.basics.tsv", sep="\t")
df_people.drop(['birthYear', 'deathYear'], axis=1, inplace=True)
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13929073 entries, 0 to 13929072
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   primaryProfession  object
 3   knownForTitles     object
dtypes: object(4)
memory usage: 425.1+ MB

In [115]:
df_people.shape

(13929073, 4)

In [116]:
df_people.duplicated().sum()

0

In [117]:
print(NA_values(df_people['primaryName']))
print(NA_values(df_people['primaryProfession']))
print(NA_values(df_people['knownForTitles']))

51
2699781
1571008

### Clean the data

In [148]:
# filter for directors
df_people = df_people[df_people['primaryProfession'].str.contains('director')]
df_people.shape

(1108186, 4)

In [125]:
df_people.head(30)

,nconst,primaryName,primaryProfession,knownForTitles
4,nm0000005,Ingmar Bergman,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
7,nm0000008,Marlon Brando,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,"actor,producer,director","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,"actor,director,producer","tt0029870,tt0031867,tt0042041,tt0055256"
17,nm0000018,Kirk Douglas,"actor,producer,director","tt0080736,tt0054331,tt0049456,tt0050825"
18,nm0000019,Federico Fellini,"writer,director,actor","tt0056801,tt0050783,tt0047528,tt0053779"
23,nm0000024,John Gielgud,"actor,director,writer","tt0082031,tt0071877,tt0045943,tt0080678"
31,nm0000032,Charlton Heston,"actor,director,writer","tt0052618,tt0049833,tt0070723,tt0067525"
32,nm0000033,Alfred Hitchcock,"director,producer,writer","tt0054215,tt0053125,tt0052357,tt0056869"
35,nm0000036,Buster Keaton,"actor,writer,director","tt0017925,tt0015163,tt0015324,tt0016332"
36,nm0000037,Gene Kelly,"actor,miscellaneous,director","tt0045152,tt0043278,tt0053946,tt0041716"
39,nm0000040,Stanley Kubrick,"director,writer,producer","tt0062622,tt0066921,tt0072684,tt0093058"
40,nm0000041,Akira Kurosawa,"writer,director,assistant_director","tt0051808,tt0080979,tt0089881,tt0047478"
47,nm0000048,Peter Lorre,"actor,writer,director","tt0022100,tt0036613,tt0034583,tt0033870"
49,nm0000050,Groucho Marx,"actor,writer,director","tt0026778,tt0023969,tt0028772,tt0031060"
55,nm0000056,Paul Newman,"actor,producer,director","tt0054997,tt0257044,tt0084855,tt0110684"
56,nm0000057,David Niven,"actor,producer,director","tt0074937,tt0048960,tt0057413,tt0052182"
58,nm0000059,Laurence Olivier,"actor,producer,director","tt0069281,tt0077269,tt0032976,tt0074860"
62,nm0000063,Anthony Quinn,"actor,producer,director","tt0057831,tt0056172,tt0049456,tt0064952"
70,nm0000071,James Stewart,"actor,director,producer","tt0052561,tt0052357,tt0038650,tt0031679"
75,nm0000076,François Truffaut,"writer,director,producer","tt0070460,tt0075860,tt0053198,tt0055032"
79,nm0000080,Orson Welles,"actor,writer,director","tt0033467,tt0052311,tt0040525,tt0057427"
82,nm0000083,Alan Miller,"editor,writer,director","tt0424773,tt0969216,tt27504185,tt5969604"
86,nm0000087,Elena Koreneva,"actress,casting_director,soundtrack","tt0122969,tt5847740,tt7529350,tt0123138"
87,nm0000088,Aleksey Korenev,"director,writer,assistant_director","tt0191104,tt0100069,tt0068304,tt0076551"
89,nm0000090,Armin Mueller-Stahl,"actor,director,writer","tt0765443,tt0117631,tt0963178,tt0139809"
90,nm0000091,Gérard Pirès,"director,writer,actor","tt0152930,tt0064297,tt0282552,tt0421974"
94,nm0000095,Woody Allen,"writer,director,actor","tt0079522,tt0075686,tt0118954,tt0091167"
95,nm0000096,Gillian Anderson,"actress,producer,director","tt0106179,tt2294189,tt0455590,tt0442632"
96,nm0000097,Pamela Anderson,"actress,producer,director","tt31193791,tt0096542,tt18376122,tt0101120"

In [154]:
# check for \N rows in profession
print(NA_values(df_people['primaryProfession']))

0